.SideDrawer{
    position:fixed;
    width: 350px;
    max-width: 90%;
    height: 100%;
    left:0;
    top:56px;
    z-index: 110;
    background-color:rgba(87, 69, 69, 0.5);
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 1s ease-out;    

}

/* @media (min-width:500px){
    .SideDrawer{
        display: none;
    }
} */

/* .Open{
    transform: translateX(0);
} */
/*
.Close{
    transform: translateX(-100%);
} */