.button{
    padding: 1rem 1.5rem;
    margin:0.5rem;
    /* background-color: #8F5E1E; */
    color:rgb(3, 0, 0);
    border: 1px solid #AA6817;
}

.Success{
    color:green;
}

.Danger{
    color:red;
}